# Python cache files
**/*.pyc
**/__pycache__/
**/*.pyo

# Docker files
**/Dockerfile
docker-compose.yml
*.yaml
cloudbuild.yaml

# Data and temp files
*.csv
*.chunk
temp_uploads/

# Environment and system files
*.env
*.env.example
.DS_Store

# Test sessions
uploads/file_uploads/session_delete_test_*
uploads/file_uploads/test_session_*
