<!doctype html>
<html lang="de"><body>
<h1>Bestätigen Sie Ihre E-Mail</h1>
<p><a href="{{ site_url }}/auth/confirm?token_hash={{ token_hash }}&type=signup&redirect_to={{ redirect_to }}">Bestätigen</a></p>
</body></html>
